{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

{% for post in posts %}
<div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">{{ post.text }}</p>
      <a href="#" class="btn btn-primary btn-md float-right">View Post</a>
    </div>
  </div>
{% endfor %}

{% endblock %}
